env:
  global:
    - CC_TEST_REPORTER_ID=e5d347fb0b2d8f186a447b8ffed96aea93c9eda230418a6ae2481a5dc68daad3
language: node_js
node_js:
  - "10"
before_install:
  - npm install -g greenkeeper-lockfile@1
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - greenkeeper-lockfile-update
script:
  - yarn install --frozen-lockfile
  - lerna bootstrap
  - yarn run quality:lint
  - yarn run test:coverage
  - yarn run build:release
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - greenkeeper-lockfile-upload
deploy:
  provider: npm
  email: raziel@binarygenetics.com
  api_key: $NPM_TOKEN
  skip_cleanup: true
  on:
    tags: true
    branch: master
